
body {
  color: white;
  text-shadow: 4px;
  background-image: url("../img/code.gif");
}
h1 {
  padding: 40px;
}
h3 {
  padding: 10px;
}
.results {
  background-color: #2b2b2b;
  padding: 30px;
  margin:20px;
  border-radius: 25px;
}
.javascript {
  display: none;
}
.ruby {
  display: none;
}

.python {
  display: none;
}

.swift {
  display: none;
}

.question {
  background-color: #2b2b2b;
  padding: 30px;
  margin:20px;
  border-radius: 25px;
}
